/* Mobile-first styles */
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  position: relative;
  background-color: #f8f9fa;
}

header h1 {
  margin: 10px 0 10px 20px; /* Add margin to create space between title and slider, and move text to the right */
  font-size: 1.5em;
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #007bff, #00c6ff);
}

/* Styles for larger screens */
@media (min-width: 769px) {
  header {
    flex-direction: row;
    justify-content: flex-start;
    padding: 20px 0;
  }

  header h1 {
    margin: 0 20px; /* Adjust margins for larger screens */
    font-size: 2em;
  }
}